/* login.component.scss */

ion-content {
    --ion-background-color: #f8f8f8; /* Light background color */
  
    form {
      align-items: center;
      padding: 10px;
    }
    ion-input {
      border: 2px solid #e0e0e0; /* Light gray border */
      border-radius: 8px;
      margin-top: 10px;
    }
  
    ion-button {
      --background: green; /* Yellow color */
      --color: #333333; /* Dark text color */
      border: none;
      border-radius: 8px;
   /* Adjust the padding as needed */
    }
  
    ion-button:hover {
      --background:green; /* Darker shade of blue on hover */
    }
  
    .forgot-password {
      color: #3498db; /* Blue color */
      text-align: center;
      margin-top: 10px;
    }
  
    .create-account {
      color: green; /* Blue color */
      text-align: center;
      margin-top: 10px;
    }
  }
  h1 {
    font-weight: bolder;
    padding-left: 11px;
  }
  span {
    margin-left:3px;
    color: green;
  } 
  p {
    text-align: center;
   
  }
  .small-top-right-corner {
    background: rgba(0, 255, 0, 0.2);
    height: 150px;
    width: 150px;
    margin-left: 100%;
    margin-top: -55px;
    border-radius: 50%;
  }
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .button-container ion-button {
    --background: rgba(169, 169, 169, 0); /* Light gray color with full transparency */
    width: 100px;
    height: 90px;
    box-shadow: none; /* Remove the box shadow */
  }
  /* Optionally, you can remove the default outline when the button is focused */
  .button-container ion-button:focus {
    outline: none;
  }
  @media only screen and (min-width: 768px) {
    ion-content {
     
    }
  
    .button-container ion-button {
      width: 120px; /* Adjust the button width for larger screens */
      height: 110px; /* Adjust the button height for larger screens */
    }
  }
  
  .small-top-right-corner {
    background: rgba(0, 255, 0, 0.2);
    height: 150px;
    width: 150px;
    margin-left: 85%;
    margin-top: -55px;
    border-radius: 50%;
  }
  