/* login.component.scss */

ion-content {
  --ion-background-color: #f8f8f8; /* Light background color */

  form {
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-item {
    margin-bottom: 20px;
  }

  ion-input {
    border: 2px solid #3498db; /* Blue border */
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
  }

  ion-button {
    --background: #3498db; /* Blue color */
    --color: #ffffff; /* White text color */
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  ion-button:hover {
    --background: #2980b9; /* Darker shade of blue on hover */
  }

  .forgot-password {
    color: #3498db; /* Blue color */
    text-align: center;
    margin-top: 10px;
  }

  .create-account {
    color: #3498db; /* Blue color */
    text-align: center;
    margin-top: 10px;
  }
}
.lowerPart{
  border-radius: 40px 40px 0 0;
  padding: 25px;
background-color: rgb(246, 246, 110);
width: 100%;
position: absolute;
bottom: 0;
}