<!-- cart.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Shopping Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-list *ngIf="cartItems.length > 0; else emptyCart">
    <ion-item-sliding *ngFor="let item of cartItems">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="item.order.order.imageUrl" alt="{{ item.order.order.name }} Image">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.order.order.name }}</h2>
          <p class="price">{{ item.order.order.price | currency:'R':'symbol':'1.2-2' }}</p>
        </ion-label>
   
        <ion-badge slot="end">{{ item.order.order.quantity }}</ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeFromCart(item.order.order.id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  

  <ng-template #emptyCart>
    <ion-text class="empty-cart-text" color="medium">Your cart is empty.</ion-text>
  </ng-template>

  <ion-item-divider></ion-item-divider>

  <ion-item>
    <ion-label>Total Items</ion-label>
    <ion-badge slot="end">{{ totalItems }}</ion-badge>
  </ion-item>

  <ion-item>
    <ion-label>Total Price</ion-label>
    <ion-badge slot="end">{{ totalPrice | currency:'R':'symbol':'1.2-2' }}</ion-badge>
  </ion-item>

  <ion-button expand="full" routerLink="/cart" [disabled]="totalItems === 0">Checkout</ion-button>
</ion-content>

