<!-- home.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      Welcome to the Home Page!
    </ion-card-header>

    <ion-card-content>
      <p>
        This is a simple home page for your app. Customize it based on your requirements.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>
</ion-content>
