/* home.component.scss */

ion-content {
    --ion-background-color: #f8f8f8; /* Light background color */
  }
  
  ion-card {
    margin-top: 20px;
  }
  
  ion-card-header {
    font-size: 20px;
    font-weight: bold;
  }
  
  ion-card-content {
    font-size: 16px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  