<!-- register.component.html -->

<ion-content>
  <div class="small-top-right-corner"></div>
  <h1>Create An Accont</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-input placeholder="Username" formControlName="username" required>
      <ion-icon name="person" slot="start"></ion-icon
    ></ion-input>

    <ion-input placeholder="Email" formControlName="email" type="email" required
      ><ion-icon name="mail" slot="start"></ion-icon
    ></ion-input>

    <ion-input
      placeholder="Password"
      formControlName="password"
      type="password"
      required
      ><ion-icon name="lock-closed" slot="start"></ion-icon
    ></ion-input>

    <ion-input
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      type="password"
      required
      ><ion-icon name="lock-closed" slot="start"></ion-icon
    ></ion-input>

    <!-- Checkbox for agreeing to terms and conditions -->
    <ion-item>
      <ion-label>I agree to the terms and conditions</ion-label>
      <ion-checkbox formControlName="agreeTerms"></ion-checkbox>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!registerForm.valid"
      >Register</ion-button
    >

    <div class="button-container">
      <ion-button size="small" (click)="loginWithGoogle()">
        <ion-img src="assets/google.png"></ion-img>
      </ion-button>

      <ion-button size="small" (click)="loginWithFacebook()">
        <ion-img src="assets/facebook.png"></ion-img>
      </ion-button>
    </div>

    <p>already have an account?<span routerLink="/sign-in">Sign in</span></p>
  </form>
</ion-content>
