<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ editing ? 'Edit Profile' : user.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar>
        <img src="{{ user.avatar }}" alt="Profile Picture">
      </ion-avatar>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input [(ngModel)]="user.email" [disabled]="!editing"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Bio:</ion-label>
        <ion-textarea rows="4" [(ngModel)]="user.bio" [disabled]="!editing"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Location:</ion-label>
        <ion-input [(ngModel)]="user.location" [disabled]="!editing"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Occupation:</ion-label>
        <ion-input [(ngModel)]="user.occupation" [disabled]="!editing"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Interests:</ion-label>
        <ion-input [(ngModel)]="user.interests" [disabled]="!editing"></ion-input>
      </ion-item>
      <!-- Add more editable profile details as needed -->
    </ion-card-content>
  </ion-card>

  <ion-button *ngIf="!editing" expand="block" (click)="editing = true">Edit</ion-button>
  <ion-button *ngIf="editing" expand="block" (click)="saveProfile(); editing = false">Save</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home" >
          <ion-icon name="home-sharp"></ion-icon>
           Home
        </ion-tab-button>
        <ion-tab-button routerLink="/cart" >
          <ion-icon name="cart-sharp"></ion-icon>
          Cart
        </ion-tab-button>
        <ion-tab-button routerLink="/profile">
          <ion-icon name="person-sharp"></ion-icon>
          Profile
        </ion-tab-button>
        <ion-tab-button >
          <ion-icon name="search-circle-sharp"></ion-icon>
          Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>